*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
  font-family: compass;
  src: url('../assets/Compass.ttf');
}

:root{
    --background :#f0f9fb;
    --border:#e4e4e4;
    --font-grey :#7d879c;
    --font-pink :#eb3a7b;
    --btn-color:#24aeb1;
    --cart-background:#f6f6f7;
    --font-black:#222;
    --cart-border:#dfdfdf;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

html{
  scroll-behavior: smooth;
  /* font-family: compass; */
}

a{
  all: unset;
  cursor: pointer;
}
.btn{
  cursor: pointer;
}