@import url('common.css');

.hero-section{
    background-color: var(--background);
}

.feature-info{
    display: flex;
    justify-content: space-between;
    padding: 20px 2rem;
}
.info-box{
    display: flex;
    align-items: center;
    gap: 10px;

    border-left: 1px solid #ddddde;
    padding-left: 10px;
}
.info-box:first-child{
    border: none;
}
.info-icon{
    width: 40px;
    height: 40px;
    background: red;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}
.info-icon i{
    color: white;
} 


.info-item{
    display: flex;
    flex-direction: column;
}
.info-item span:nth-child(odd){
    font-weight: 700;
    margin-bottom: 5px;
}
.info-item span:nth-child(even){
    font-size: 13px;
    color: var(--font-grey);
}

.slider-img{
    background-color: inherit;
}

.slider-img img{
    padding: 0 2rem;
    width: 100%;
    height: auto;
    object-fit: contain;
}



/* PRODUCT SECTION*/

.product-section{
    padding: 45px 0 30px 0;
    margin-bottom: 30px;
}

.pro-head{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}
.pro-slider-btn span{
    margin: 0 10px;
}

.wrapper{
    width: 100%;
}

.product-list{
    
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    gap: 16px;
    place-items: center;

    overflow: hidden;
    scroll-behavior: smooth;

}

.product-container{
    width: 300px;
    box-sizing: border-box;
    padding-inline: 15px;

    border: 1px solid var(--border);
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2);
}
/* .product-container:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
} */

.wrapper{
    margin-bottom: 30px;
}
.product-container img{
    width: 100%;
    object-fit: contain;
}

.product-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-inline: 15px;
}

.product-info .category{
    font-size: 13px;
    color:var(--font-grey)
}
.product-info .pro-name{
    font-size: 1.5rem;
    font-weight: 500;
}

.pro-price span:first-child{
    font-size: 1.2rem;
    text-decoration: line-through;
    color:var(--font-grey)
}
.pro-price span:last-child{
    font-size: 1.4rem;
    color:var(--font-pink);
    font-weight: 400

}


.add-to-cart{
    all: unset;
    cursor: pointer;
    margin-bottom: 15px;

    display: flex;
    align-items: center;
    text-transform: uppercase;
}
.add-to-cart:hover{
    background-color: var(--btn-color);
    border-radius: 50px;
    color: white;
}



.add-to-cart span:first-child{
    margin-right: 5px;
    font-size: 20px;
    height: 35px;
    width: 35px;
    background-color: var(--btn-color);

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

/* DEAL SECTION */
.deal-head{
    padding: 2rem 0;
}
.deal-section{
    background-image: url('../assets/background1.webp');
    background-position: center center;
    background-size: auto;
}

.deal-list{
    display: flex;
    padding-bottom: 2rem;
}

.deal-product{
    background-color: white;
    box-sizing: border-box;
    display: flex;
    padding: 30px;
    margin: 0 20px;

}
.deal-img{
    width: 50%;
}
.deal-img img{
    width: 100%;
    height: auto;
    object-fit: contain;
}

/* FEATURE INFO 2 */
.feature-info-2 .info-box i{
    color: black;
    font-size: 25px;
}
.feature-info-2 .info-box{
    border: none;
}
.feature-info-2 .info-icon{
    width: 50px;
    height: 50px;
}


/* DOCTOR SECTION */

.doc-section{
    display: flex;
    padding: 70px 0;
    margin-top: 2rem;
    background-color: var(--background);
}
.doc-img{
    width: 50%;
    box-sizing: border-box;
}

.doc-img img{
    object-fit: contain;
}


/* Testomonial section */
.testimonial{
    background-image: url('../assets/background-world.webp');
    padding: 70px 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.testimonial-content{
    text-align: center;
}



/* STICKY BUTTON */
.sticky-go-top{
    position: fixed;
    top: 90%;
    left: 90%;
    width: 40px;
    height: 40px;
    font-size: 30px;
    text-align: center;
    background-color: var(--background);
    border-radius: 50%;
    cursor: pointer;
}
